
body{
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(white, grey);
}

/* comienza el css para la seccion navegacion*/

header{
    background-color:rgb(170, 168, 168);
    padding: 20px 0 ;
}
.caja{
    width: 940px;      
    position: relative; /*para centrar el navegador uso margin 0 y auto ,y position relative*/
    margin: 0 auto;     
}
nav{
    position: absolute;
    top: 110px;
    right: 0;
}
nav li{
    display: inline;
    margin: 0 0 0 15px;/* para dar margen entre los "a" de las listas */

}
nav a {
    color: black;
    text-transform: uppercase;/*para hacerlas mayusculas*/
    font-weight: bold; /*para dar negrita a la letras*/
    text-decoration: none;/*para sacar el surrayado*/
    font-size: 22px;/*para dar el tamaño*/
}
nav a:hover{
    color:orange;
    text-decoration:underline;/*para surrayar una palabra*/
}

/*comienza css para la seccion productos */
.productos , .formulario ,.home{
    width: 940px;
    margin: 0 auto;
    padding: 20px;
 
}

.tarjeta{
    display: inline-block;
    margin:0 1.5%;
    box-sizing: border-box;
    border-radius: 15px;
    width: 30%;
    padding:30px 20px;
    text-align: center;
    vertical-align: top;
    border: 2px solid black;
    font-size: 25px;
    background-color: white;
}
h2{
    text-transform: capitalize;
    font-weight: bold;
}
.descripcion-p{
    font-size: 18px;
}
.precio-p{
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
}
.tarjeta:hover{/*cuando paso sobre el elemento se activa el color naranja con hover*/
    border-color: orange;
    font-size: 35px; /*aumentando el tamaño de las letras logramos en efecto de aumento de la tarjeta */
}
.tarjeta:active{/*cuando cliqueo el elemento se actiav el color verde con active*/
    border-color: green;
}
footer{
    text-align: center;
    background: url("./imagenes/bg.jpg");/* para ´poner una imagen de fondo se usa background y la url*/
    padding: 40px;
}

.copyright{
    color: white;
    font-weight: bold;
    font-size: 13px;
    margin: 15px;
}

/* comienza el css del formulario */

label, legend {
    display: block;
    font-size: 20px;
    padding: 10px 0;
}
.input-padron{
    display: block;
    padding: 10px 20px;
    margin: 10px 0;
    width: 50% ;
}

.checkbox{
    margin:20px 0 ;
}
.enviar{
    font-weight: bold;
    color: white;
    background-color: orange;
    padding: 20px 0 ;
    border: none;
    border-radius: 5px;
    width: 40%;
    font-size: 18px;
    transition: 1s all;/* con transition lo que hago es programar el tiempo de una transicion , con el "all" hacemos que se active para todas */
    cursor:pointer; /* cambiamos la flecha por la manito que apunta */
}
.enviar:hover{
    /*font-size: 22px; con font-size podria hacer un aumento de tamaño , es una variable*/
    background-color: darkgoldenrod;
    transform: scale(1.2); /* con transform y la varaible "scale"hacemos que un elemento aumente de tamaño*/
}

table{
    margin: 40px 40px;
    
}
thead{
    color: white;
    font-weight: bold;
    background-color: orange;
}

th,td{
    border: 1px solid black;
    padding: 15px 25px;
}
/* comienza el css para la pagina index.html (home)*/
.banner{
    width: 100%;
}
.titulosSection{
     text-align: center;
     font-size: 25px;
     font-weight: bold;
     margin: 0 0 1em;
}
.utencillos{
    width: 120px;
    margin: 0 20px 20px 0;
    float: left;/*para que se coloque a la izquierda de la pantalla */
}
p{
    margin: 0 0 1em;
    font-size: 18px;
}

em{
    font-style: italic;
}
 strong{
    font-weight: bold;
}
.center{
    text-align: center;
    margin: 25px;
}
.contenidoDifrenciales{
    width: 640px;
    margin: 0 auto;/*metodo para centrar los elementos recordar!!!!*/
}
.listaDifrenciales{
    width: 40%;
    display: inline-block;
    vertical-align: top;/*para colocar una lista en el rango superior de un contedido y de manera vertical*/
    padding: 0 0 15px;
    
}
.img-difrencial{
    width:60%;
    box-shadow:10px 10px 30px 15px #000000 ; /*se usa para dar sombras a la imagen o letras o cualquier elemento */
    /* "opacity: ;" se utiliza para dar trasparencia o opacidad a un elemento recordar !!!*/
}
.items{
    line-height: 1.5; /* el line-height nos permite dar espacion de linea */
}
 /* .items:first-child{ con firts-child le cambiamos la fuente a la primera linea de la lista, existe el last para la ultima
    font-weight: bold;
}*/
.items:before{/*para colocar algun elemento antes que otro usamos el "before" (esta el after para colocar despues) */
    content: "★";/*colocar un items o decoracion usamos el content, la estrela la saque de unicode recordar*/
}
.items:nth-child(1),.items:nth-child(3),.items:nth-child(5),.items:nth-child(7){/* con nth-child elegimos a que elemento cambiar*/
    font-weight: bold;
}
